//colors
$green: #96c038


=media($width)
    @media only screen and (max-width: $width+ px)
        @content

$ptSansBold: 'PT Sans', sans-serif


=fontStile($family, $weight, $size, $color)
    color: $color
    font-size: $size
    font-family: $family
    font-weight: $weight


=size($size)
    height: $size
    width: $size

.App
    height: 100vh
    width: 100vw

.body
    +size(100%)



textarea
    outline: none
    resize: none
    &:active, &:focus
        outline: none
        resize: none

button
    outline: none
    border: none
    &:active, &:focus
        outline: none
        border: none

\:active,:hover,:focus
    outline: none
    outline-offset: 0

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none